# Node modules
node_modules/
node_modules

# Vite build output
dist/
dist-ssr/

# Local env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Cache
.eslintcache
.cache
node_modules
